---
const subdomains: string[] = [
  "https://baptiste.devessier.fr",
  "https://newsletter.baptiste.devessier.fr",
];
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Devessier.fr Index</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:px-8 py-8">
      <h1 class="text-3xl font-semibold">Devessier.fr Index</h1>

      <p class="mt-4 text-gray-800">
        Bienvenue sur ce site! Sont listés ici tous les sous-domaines du nom de
        domaine devessier.fr.
      </p>

      <ul class="mt-4 list-disc list-inside">
        {
          subdomains.map((subdomain) => (
            <li>
              <a href={subdomain} class="hover:underline text-red-700">
                {subdomain}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </body>
</html>
